.add {
  background: #FFD60A;
  padding: 20px;
  font-size: 18px;
  color: #000;
  border: none;
  border-radius: 300px;
  display: block;
  margin: auto;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 200px;
}

.btn-back {
    border-radius: 30px!important;
    padding: 5px!important;
    width: 30px!important;
    height: 30px!important;
    opacity: 1;
    background-color: #FFF!important;
}

.btn-icon-back {
  font-size: 20px;
  color: #001D3d;
}

.circulo {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
}

.button{
  font-size:1.5rem;
  border:2px solid #ffd60a;
  border-radius:100px;
  width:40px;
  height:40px;
  padding:5px;
  margin: 10% auto;
}

.button_n{
  font-size:1.5rem;
  border:2px solid #003566;
  border-radius:100px;
  width:40px;
  height:40px;
  padding:5px;
  margin: 10% auto;
}

.icon{
 position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align:center;
  color: #ffd60a;
}

.icon_n{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align:center;
  color: #003566;
}

.icon:hover{
  color: #000000;
}

.icon_n:hover{
  color: #ffffff;
}

.button:hover{
  width:150px;
  background-color: white;
  color: #000000;
  border:2px solid white;
  transition: .6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.button_n:hover{
  width:150px;
  background-color: #003566;
  color: #003566;
  border:2px solid #003566;
  transition: .6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn-sinestilo{
    background: none;
    border: 1px solid transparent;
}

.btn-circular{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-right: 20px
}

/*.box {*/
/*  background-color: rgba(0, 29, 61, 0.6);*/
/*}*/

