.label-custom-yellow {
  color: #ffd60a;
}


.icon-style-2 {
  left: 13px;
  top: 40px;
  font-size: 23px;
  color: #FFD60A;
}

.icon-style {
  left: 13px;
  top: 11px;
  font-size: 23px;
  color: #FFD60A;
}

.input-style {
  background-color: #003566!important;
  border: solid #003566!important;
  border-radius: 15px!important;
  color: #ffffff!important;
}


.input-style::placeholder {
  color: white;
  font-weight: bold;
  position: relative;
}
.form-control{
    border: 1px solid #003566!important;
}

.input-style::placeholder {
  color: white;
  font-weight: bold;
  position: relative;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #ffd60a!important;
    color: #000!important;
    font-weight: bold;
    border-radius: 15px 0px 0px 15px!important;;
    clip-path: polygon(0% 0%, 0% 100%, 85% 100%, 100% 50%, 85% 0%);
    text-decoration: none;
}

.nav-pills .nav-link {
   background-color: #A08500!important;
    color: #ffffff;
    font-weight: bold;
    border-radius: 15px 0px 0px 15px!important;
    clip-path: polygon(0% 0%, 0% 100%, 85% 100%, 100% 50%, 85% 0%);
    text-decoration: none;
}

Input:Focus {
    color: #ffd60a!important;
}


