.modal-header{
    background-color: #FFC300;
}

.modal-body{
    background-color: #FFC300;
}

.modal-footer{
    background-color: #FFC300;
}

.btn-grid{
    background-color: #001d3d!important;
    color: #ffffff;
    border-radius: 15px;
}

.btn-grid:hover{
    background-color: #003566!important;
    color: #ccc;
}

.accordion-flush .accordion-item .accordion-button{
    border-radius: 15px!important;
}

.accordion-header{
    background-color: #FFC300;
}

.accordion-button:not(.collapsed){
    background-color: #003566!important;
    color: #ffffff;
}

.accordion-button:not(.collapsed)::after{
    color: #ffffff;
}
.accordion-item{
    background-color: #FFC300;
}

