    .collapse_principal:not(.collapsed){
        background: #FFC300!important;
        color: #001d3d!important;
        border-radius: 20px;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem 1.25rem;
        font-size: 1rem;
        text-align: left;
        border: 0;
        overflow-anchor: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
    }

    .img-firma{
        max-width: 150px;
    }

    .collapse_principal{
        background: #fff!important;
        color: #001d3d!important;
        border-radius: 20px;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem 1.25rem;
        font-size: 1rem;
        text-align: left;
        border: 0;
        overflow-anchor: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
    }
    .text_congi_festacion{
        color: #E0E0E0!important;
    }

    .container-fluid {
    width: 100%!important;
    margin-right: auto!important;
    margin-left: auto!important;
    padding-right: 10%!important;
    padding-left: 10%!important;
    background-color: #00336B;
    border-radius: 15px;
    padding-top: 30px;
    margin-bottom: 5rem;
}

.img_tanque_bomba{
    width: 100px;
}

.add_dispenciario{
    background-color:#ffd60a;
    color:  #000!important;
    border-radius: 15px;
    border: solid transparent;
    padding: 10px;
}

.icon_action_correcttive{
    color: #ffffff!important;
    font-size: 16px;
    padding: 5px;
}

.donwload:hover{
    color: #000000;
}

.edit:hover{
    color: #FFC300;
}

.delete:hover{
    color: red;
}
.icon_config{
    color: #003566!important;
    font-size: 30px!important;
}

.icon_config:hover{
    color: #ffffff!important;
}


@media (min-width: 576px){

    .card-menu {
        width: 25%;
    }

    .img-card-menu-element{
        width: 80%;
    }

    .img-card-menu {
        width: 40%;
    }

    .title-cardso{
            font-size: 1rem;
    }

    .navigation #burgerBtn{
        top: 87% !important;
        right: 90% !important;
    }

}

@media only screen and (max-width: 600px) {
    .text_congi_festacion{
        font-size: 13px;
    }

    .tittle_congi_festacion{
        font-size: 22px;
        margin-bottom: 2rem;
    }

    .tittle-firm{
        font-size: 16px;
    }

    .img_tanque_bomba{
        width: 60px;
    }

    .container-fluid {
         padding-right: 1%!important;
         padding-left: 1%!important;
    }

}
