@media (min-width: 576px){

    .card-menu {
        width: 25%;
    }

    .img-card-menu-element{
        width: 80%;
    }

    .img-card-menu {
        width: 40%;
    }

    .title-cardso{
            font-size: 1rem;
    }

    .navigation #burgerBtn{
        top: 87% !important;
        right: 90% !important;
    }

}
