.body-bg {
  /*background-image: url(../img/gas.jpg);*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*backdrop-filter: blur(6px);*/
  background-color: rgba(0, 29, 61, 1);
}

.icon-style-2 {
  position: absolute;
  left: 13px;
  top: 40px;
  font-size: 23px;
  color: #FFD60A;
}

.icon-style {
  position: absolute;
  left: 13px;
  top: 11px;
  font-size: 23px;
  color: #FFD60A;
}

.input-style {
  background-color: #003566!important;
  border: solid #003566;
  border-radius: 15px;
  color: #ffffff!important;
}

.btn-yellow-gas {
  background-color: #ffd60a;
  padding: 10px;
  border-radius: 40px;
}

.input-style::placeholder {
  color: white;
  font-weight: bold;
  left: 15%;
  position: relative;
}
.form-control{
    border: 1px solid #003566!important;
}

.input-style::placeholder {
  color: white;
  font-weight: bold;
  left: 15%;
  position: relative;
}
